<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coder E-Commerce</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <h1>Coder E-Commerce</h1>
    {{{body}}}

</body>

</html>