<section class="chat">
    <h2 class="chat-title">Coder Chat</h2>
    <div class="chat-messages" id="chat-messages">
        {{#each messages}}
        <article class="message">
            <p class="message-user"><strong>{{this.user}}</strong></p>
            <p class="message-content">{{this.message}}</p>
        </article>
        {{/each}}
    </div>
    <div class="chat-input">
        <textarea id="input-message" type="text" title="input" placeholder="Escribe un mensaje" rows="1"></textarea>
        <button id="btn-enviar">Enviar</button>
    </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/chat.js"></script>