<section class="chat">
    <h2 class="chat-title">Coder Chat</h2>
    <div class="chat-messages" id="chat-messages">
        {{#each messages}}
        <article class="message">
            <p class="message-user"><strong>{{this.user}}</strong></p>
            <p class="message-content">{{this.message}}</p>
        </article>
        {{/each}}
    </div>
    <form id="chat-form">
        <input id="input-message" type="text" title="input" placeholder="Escribe un mensaje" />
        <input id="btn-submit" type="submit" value="Enviar">
    </form>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/chat.js"></script>