<div>
    {{#if isNotLoggedIn}}
    <a href="/login">Iniciar Sesión</a>
    <a href="/api/sessions/github">Iniciar con Github</a>
    <a href="/register">Registrarse</a>
    {{/if}}

    {{#if isLoggedIn}}
    <a href="/profile">Mi Perfil</a>
    {{/if}}
</div>