<div class="user-info">
    <h2>Bienvenido {{user.firstName}} {{user.lastName}}</h2>
    <h3>Datos del perfil:</h3>
    <p>Edad: {{user.age}}</p>
    <p>Email: {{user.email}}</p>
</div>

<a href="/">Inicio</a>

<a href="/api/sessions/logout">Cerrar Sesión</a>