<div>
    <form class="form-register" action="/api/sessions/restore-password" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="token" value="{{token}}" />
        <input type="hidden" name="email" value="{{email}}" />
        <label for="_pass1">New Password:</label>
        <input type="password" name="password1" id="_pass1" />
        <label for="_pass2">Repeat Password:</label>
        <input type="password" name="password2" id="_pass2" />
        <button type="submit">Cambiar Contraseña</button>
    </form>
</div>