<div>
    <form class="form-register" action="/api/sessions/restore-password" method="get">
        <label for="_email">Email:</label>
        <input type="email" name="email" id="_email" />
        <button type="submit">Sent Mail</button>
    </form>
</div>